
@{
    ViewBag.Title = "Index";
}

<h2>Administration</h2>

<div class="col-md-3">
    <ul class="list-group">
        <li class="list-group-item">
            @Html.ActionLink("Manage Users", "UserList")
        </li>
        <li class="list-group-item">
            @Html.ActionLink("Manage Roles", "RoleList")
        </li>
    </ul>
</div>