@model IEnumerable<MyIdentity.Web.Models.Identity.IdentityUser>

@{
    ViewBag.Title = "User List";
}

<h2>User List</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default btn-xs" })   
</p>

<table class="table table-responsive table-condensed">
    <tr>        
        <th>Name</th>        
        <th>Email</th>                
    </tr>

@foreach (var item in Model) {
    <tr>        
        <td>
            @Html.ActionLink(item.FirstName + " " + item.LastName, "UserDetails", new { userID = item.Id })            
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>                
    </tr>
}
</table>
